<!DOCTYPE html>
<html class="no-js">
	<head>

		<title>{{ wp_title ? wp_title ~ ' | ' : '' }}{{ site.name }}</title>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="{{ site.charset }}">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<link rel="pingback" href="{{ site.pingback_url }}">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">


		<script>
			(function () {
document.documentElement.className = 'js'
})();
		</script>

		<link rel="apple-touch-icon-precomposed" href="{{ theme.link }}/assets/img/favicon-180.png">
		<link rel="icon" href="{{ theme.link }}/assets/img/favicon-196.png">

		{{ wp_head }}
	</head>

	<body class="{{ body_class }}">
		<div id="page" class="site">

			<div class="site-layout" data-page-title="{{ wp_title ? wp_title ~ ' | ' : '' }}{{ site.name }}">

				{# MOBILE DRAWER MENU #}
				{# don't need to specify 'partials/drawer.twig' bc line 5 of timber.php #}
				{% include 'drawer.twig'%}

				{# HEADER #}


				{% include 'header.twig' %}

				{# CONTENT #}
					<div class="site-content">{% block content %}{% endblock %} </div>

					{% include 'footer.twig' %}

				</div>

			</div>
			{{ wp_footer }}

			<div style="display:none;">
				{{ icons }}
			</div>

		</body>
	</html>
